.landing-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    main{
      display: flex;
      flex-direction: column;
      flex: 20;
    }
    .hero {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding:1rem 2rem;
      background: linear-gradient(240deg, #1282A2, #034078);
      color: #fff;
      flex:1;
  
      .hero-text {
        h1 {
          font-size: 3rem;
          margin-bottom: 1rem;
        }
        p {
          font-size: 1.2rem;
          margin-bottom: 1.5rem;
        }
        .cta-button {
          background: #fff;
          color: #006496;
          padding: 0.8rem 1.5rem;
          border-radius: 5px;
          text-decoration: none;
          font-weight: bold;
          &:hover {
            background: #006496;
            color: #fff;
          }
        }
      }
  
      .hero-image {
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }

    @media screen and (max-width: 719px) {
      .hero-image{
        display: none;
      }
    }
  }
  