.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .input-group {
      margin-bottom: 15px;
  
      label {
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
      }
  
      input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  
    button {
      width: 100%;
      padding: 10px;
      background-color: #006496;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;
      font-weight: bold;
  
      &:hover {
        background-color: #004f6d;
      }
    }
  
    .forgot-password {
      text-align: center;
      margin-top: 10px;
  
      button {
        background: none;
        border: none;
        color: #006496;
        cursor: pointer;
        text-decoration: underline;
        font-weight: normal;
      }
    }
  }
  