.notes-app {
  display: flex;
  width: 100%;
  height: 100vh;

  // Sidebar Section
  .sidebar-container {
    flex: 1;
    background: #f4f4f4;
    border-right: 1px solid #ccc;
  }

  // Main Content Section
  .main-content {
    flex: 4; // Main content takes up remaining space
    background: #fff;
    padding: 20px;
  }

  .user-profile-container {
    flex: 1; 
    background: #eaeaea;
    border-left: 1px solid #ccc;
  }
}
